In [6]:
import mysql.connector as connector

In [7]:
mydb = connector.connect( host="localhost", user="root",password='root', database ='final_lm')

In [8]:
 cursor = mydb.cursor()

In [9]:
use_database_qurty = """USE final_lm"""
cursor.execute(use_database_qurty)

In [10]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [11]:
for table in cursor :
    print(table)

('address',)
('booking',)
('customer',)
('menues',)
('menuitems',)
('order_view',)
('orders',)
('staff',)
('table',)

In [19]:
table_join = """
SELECT  customer.fullName, customer.phoneNumber , customer.email ,
orders.orderID , orders.totalCost


FROM customer 
JOIN orders  ON customer.customerID = orders.orderID 

WHERE orders.totalCost > 160;

"""

In [20]:
cursor.execute(table_join)

In [21]:
cols = cursor.column_names
print(cols)

for result in cursor :
    print(result)

('fullName', 'phoneNumber', 'email', 'orderID', 'totalCost')